<script src="{{ site.url }}bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.url }}bower_components/lightbox2/dist/js/lightbox.min.js"></script>
<script src="{{ site.url }}bower_components/masonry/dist/masonry.pkgd.min.js"></script>
<script>
  $(document).on('ready', function(){
    var $grid = $('.grid').masonry({
      // options
      itemSelector: '.grid__item',
    });

    $grid.imagesLoaded().progress( function() {
      $grid.masonry('layout');
    });
  });
</script>