@import "foundation/settings";

// Or selectively include components
 @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
   "foundation/components/button-groups",
   "foundation/components/buttons",
   "foundation/components/clearing",
   "foundation/components/dropdown",
   "foundation/components/dropdown-buttons",
   "foundation/components/flex-video",
   "foundation/components/forms",
   "foundation/components/grid",
   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
   "foundation/components/reveal",
   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
   "foundation/components/sub-nav",
//   "foundation/components/switches",
   "foundation/components/tables",
//   "foundation/components/tabs",
   "foundation/components/thumbs",
//   "foundation/components/tooltips",
   "foundation/components/top-bar",
   "foundation/components/type",
//   "foundation/components/offcanvas",
   "foundation/components/visibility";

//$accentColor: #4A90E2;
$accentColor: #00ADB5 ;
$secondaryBackground: #FFF;

p {
  font-family: $font-family-serif;
}

.divider {
  height: 4px;
  width: 80px;
  margin: 10px 0;
  background-color: $body-font-color;
}

.full-page, .full-height {
  @media #{$medium-up} {
    position: relative;
    height: 100%;
  }
}

.main-nav {
  z-index: 1;
}

.vertical-center {
  position: relative;
  top: 50%;
//  transform: translateY(-50%);
}

.vertical-center--medium-up {
  @media #{$medium-up} {
    position: relative;
    top:50%;
    transform: translateY(-50%);
  }
}

.fixed-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}

.white {
  background-color: $white;
}

//Horizontal Section Divider
.section-header-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.section-header {
  margin: 50px 0;
  overflow: hidden;
  white-space: nowrap; 
}

.section-header > h2 {
  position: relative;
  display: inline-block;
}

.section-header > h2:before,
.section-header > h2:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1920px;
  height: 3px;
  background: $body-font-color;
}

.section-header > h2:before {
  right: 100%;
  margin-right: 15px;
}

.section-header > h2:after {
  left: 100%;
  margin-left: 15px;
}



// Splash Section
.splash-wrapper {

  background: linear-gradient(to bottom, rgba(255,255,255,0) 10%, rgba(245,245,245,1)), linear-gradient(to bottom, rgba(255,255,255,.8) 20%, rgba(245,245,245,0) 40%) , linear-gradient(90deg, rgba(255, 255, 255,1), rgba(255, 255, 255,.9) 60%, rgba(255, 255, 255,0)), url(../images/muslim_india/DSC_4178.jpg);
  
  
//  background: linear-gradient(to bottom, rgba(249,249,249,0) 30%, rgba(249,249,249,1)), 
//              linear-gradient(90deg, rgba(249, 249, 249,1), rgba(249, 249, 249,.8) 60%, rgba(249, 249, 249,0)), 
//              url(../images/muslim_india/DSC_4178.jpg);
//  
//  background: linear-gradient(to bottom, rgba(238,238,238,0) 30%, rgba(238,238,238,1)), 
//              linear-gradient(90deg, rgba(238, 238, 238,1), rgba(238, 238, 238,.8) 60%, rgba(238, 238, 238,0)), 
//              url(../images/muslim_india/DSC_4178.jpg);
  
  background-position: center;
  background-size: cover;
}

.splash-page__headers {
  
  h1 {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.splash-page__divider {
  @extend .divider;
  width: 80px;
}


.page-nav {
  padding-top: 25px;
  padding-bottom: 25px;
}

.rounded-corners {
  border-radius: 4px;
}

.rounded-corners img {
  border-radius: 4px 0 0 4px;
}

.shadow {
  box-shadow: 0 0 40px rgba(30,30,30,.2);
}
 // Panel

.panel {
  
  &.panel--research {
    margin-bottom: 35px;
  }
  
  &>.row {
    background: $secondaryBackground;
    padding-bottom: 1px;
  }
  
  
  .panel__image-link {
    padding: 0; 
    display: block;
    position: absolute;
    top:0;
    bottom:-1px;
    left:0;
    right:0;
    border: 1px solid rgba(255,255,255,0);
    
    &:hover {
      border: 1px solid $accentColor;
      box-shadow: 0 0 5px $accentColor;
      transition: border .2s, box-shadow .2s;
    }
  }
  
  .panel__divider {
    @extend .divider;
    width: 50px;
  }
  
  .panel__content {
    padding: 15px;
  }
  
  .panel__heading {
    font-weight: bold;
    margin: 0;
  }
  
  .panel__button {
//    text-decoration: underline;
  }
}

.contact {
  margin-bottom: 50px;
}

// Page Footer
.page-footer {
  padding: 75px 0;
  background-color: #393E46;
  
  a {
    color: $iron;
  }
  
  a:hover {
    color: lighten($iron, 10%);
  }
  
  ul {
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 10px;
    }
  }
}

.hero {
  position: relative;
  background-color: #393E46;
  height: 300px;
}

.content {
  margin-bottom: 50px;
  
  .content__header {
    font-weight: bold;
  }
}

.heading {
  font-weight: bold;
}

//FORM STYLES
textarea {
  min-height: 150px;
}


// GRID ITEMS

.grid__item--text {
  background: $secondaryBackground;
}


.post-content {
  margin-bottom: 50px;
  background: $secondaryBackground;
  padding: 15px;
}

.gallery-head {
  margin-bottom: 30px;
  .gallery-head__content {
    background: $secondaryBackground;
    padding: 15px;
  }
}

