<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <div class="hero" id="js-hero">
      <img class="hero__image" id="js-hero__image" src="{{site.baseurl}}{{page.featuredimage}}">
    </div>
    
    {% for gallery in site.data.galleries %}
      {% if gallery.id == page.galleryid %}
    
    <header class="row">
      <div class="small-12 columns">
        <div class="card">
          <section class="card__content">
            <h1 class="card__heading">{{ gallery.title }}</h1>
            <div class="divider"></div>
            {{ page.content | markdownify }}
          </section>
        </div>
      </div>
    </header>
    
    <div class="row grid">
      {% for video in gallery.videos %}
      <div class="small-12 medium-6 columns grid__item">
        <div class="card card--gallery card--no-text">
            <div class="card--gallery__video-wrapper">
              {{ video.html }}
            </div>
      </div>
      </div>
      {% endfor %}
      {% for image in gallery.images %}
        {% if image.title || image.date || image.location || image.caption %}
          {% assign hasText = true %}
        {% else %}
          {% assign hasText = false %}
        {% endif %}
        <div class="small-12 medium-6 columns grid__item">
          <div class="card card--gallery {% if hasText == false %}card--no-text{% endif %}">
            <div class="card--gallery__image-wrapper">
              <img class="card__image" src="{{ site.baseurl }}{{ gallery.imagefolder }}{{ image.name }}">
              <a href="{{ site.baseurl }}{{ gallery.imagefolder}}{{ image.name }}" class="card__image-link" data-lightbox="{{ page.title }}" data-title="{{ image.title }}"></a>
            </div>
            {% if hasText %}
              <section class="card__content">
                {% if image.title %}<h3 class="card__heading">{{ image.title }}</h3>{% endif %}
                {% if image.caption %}<div class="divider"></div>{% endif %}
                {% if image.date %}<h5>{{ image.date }} {{ image.location }}</h5>{% endif %}
<!--                {% if image.location %}<h5>{{ image.location }}</h5> {% endif %}-->
                {% if image.caption %}<p>{{ image.caption }}</p> {% endif %}
              </section>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    
    
    {% endif %}
    {% endfor %}

    
    {% include gallery-footer.html %}
    {% include hero-parallax.html %}

  </body>

</html>


