<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
    {% for gallery in site.data.galleries %}
      {% if gallery.id == page.galleryid %}
    <section class="gallery-head">
      <div class="row">
        <div class="small-12 columns">
          <h1 class="heading">{{ gallery.title }}</h1>
          <div class="divider"></div>
          <p>{{ page.content }}</p>
        </div>
      </div>
    </section>

    <div class="row grid">
      {% for image in gallery.images %}
      <section class=" grid__item panel panel--research small-12 medium-6 columns">
        <div class="row collapse">
            <div class="small-12 columns">
                <img class="panel__image" src="{{ site.baseurl }}{{ gallery.imagefolder}}{{ image.name }}">
              <a href="{{ site.url }}{{ gallery.imagefolder}}{{ image.name }}" class="panel__image-link" data-lightbox="{{ page.title }}" data-title="{{ image.title }}"></a>
            </div>
          {% if image.title || image.date || image.location || image.caption %}
          <div class="small-12 columns">
            <section class="panel__content">
              <h3 class="panel__heading">{{ image.title }}</h3>
              {% if image.date %}<h5>{{ image.date }}</h5>{% endif %}
              {% if image.location %}<h5>{{ image.location }}</h5> {% endif %}
              {% if image.caption %}<div class="panel__divider"></div>{% endif %}
              {% if image.caption %}<p>{{ image.caption }}</p> {% endif %}
            </section>
          </div>
          {% endif %}
        </div>
      </section>
      {% endfor %}

    </div> <!-- end Row -->
    {% endif %}
    {% endfor %}

    
    {% include gallery-footer.html %}

  </body>

</html>


