---
layout: default
---

<!-- The anatomy of a "Panel" object -->
  


<div class="row">
  
  {% for research in site.research %}

  <div class="small-12 medium-6 large-12 columns">
    
    <div class="card">
      <img class="card__image" src="{{ site.baseurl }}{{ research.featuredimage }}">
      <section class="card__content">
        <h3 class="card__header">{{ research.title }}</h3>
        <p clas="card__body">{{ research.content | strip_html | truncatewords: 40 }}</p>
      </section>
    </div>
    
  </div>

  {% endfor %}

</div> <!-- end Row -->
