---
layout: default
---

<header class="row">
  <div class="small-12 columns">
    <h1>All Research</h1>
  </div>
</header>

<div class="row">
{% for research in site.research reversed %}
  <div class="small-12 {% if research.featuredimage %} medium-6 large-12{% endif %} columns">

    <div class="card card--full-width-large {% if research.featuredimage == nil %}card--no-image{% endif %}">
      
      {% if research.featuredimage %}
      <img class="card__image" src="{{ site.baseurl }}{{ research.featuredimage }}">
      {% endif %}
      <section class="card__content">
        <h3 class="card__heading">{{ research.title }}</h3>
        <div class="divider"></div>
        <p clas="card__body">{{ research.content | strip_html | truncatewords: 40 }}</p>
        <a href="{{site.baseurl}}{{research.url}}">See More</a>
      </section>
    </div>

  </div>
{% endfor %}
</div>